<header class="header">
  <div class="container">
    <div class="header-content">
      <h1 class="logo">
        <img src="https://angular.love/assets/angular-love-logo.webp" alt="Angular Appwrite Logo" class="logo-img">
        Angular Appwrite
      </h1>

      <nav class="nav">
        <a
          routerLink="/register"
          routerLinkActive="active"
          class="nav-link">
          Register
        </a>
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="nav-link">
          Login
        </a>
      </nav>
    </div>
  </div>
</header>
<main class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
